able.customTable2{
	border-collapse: collapse;
	width: 100%;
}

table.customTable2 th{
	background-color: #bfbfbf;	
	width: 1%;
} 
/*
table.customTable2 tr:nth-child(odd){
	background-color: #f2f2f2;	
} 
*/
table.customTable2, table.customTable2 th, table.customTable2 td{
	border: 1px solid black;
	border-collapse: collapse;
}

table.customTable2 th, table.customTable2 td{
	text-align: center;
}


#suma_edit{
	width: 50px;
}

.lossRow {
	background-color: red;
}

.profitRow {
	background-color: chartreuse;
}

.finalRows{
	background-color: #bfbfbf;
}

.wrongInput{
	border:solid 2px red;
}

.closeBtn:hover{
	background-color: black;
	color: white;
}

.addBtn:hover{
	background-color: aqua;
	color: black;
}
